<section class="hero-section">
  <div class="container">
    <div class="wrapper-title">
      <h1 class="hero-title">
        Reviving the traditional<span class="hero-title-span"> Ukrainian</span>
        artistry in every stitch.
      </h1>
      <button class="hero-button" type="button">
        Order
        <svg class="hero-btn-svg" width="26" height="16">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
    <div class="img-wrapper">
      <img
        class="hero-img"
        src="./img/mobile-hero-girl.jpg"
        alt="Girl with vyshyvanka"
      />
    </div>
  </div>
</section>
