<section class="collection-section" id="our-collection-id">
  <div class="container collection-container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection1.jpg    1x,
              ./img/desktop-max-colection1@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka1.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka1@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka1.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka1@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka1.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka1@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka1.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">
          AUGUST Poltava women's blouseRING
        </p>
        <p class="collection-item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection2.jpg    1x,
              ./img/desktop-max-colection2@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka2.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka2@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka2.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka2@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka2.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka2@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka2.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">Women's blouse Gorgany</p>
        <p class="collection-item-price">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection3.jpg    1x,
              ./img/desktop-max-colection3@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka3.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka3@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka3.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka3@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka3.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka3@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka3.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">Women's blouse Crimea</p>
        <p class="collection-item-price">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection4.jpg    1x,
              ./img/desktop-max-colection4@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka4.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka4@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka4.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka4@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka4.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka4@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka4.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">Men's shirt Verkhovina</p>
        <p class="collection-item-price">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection5.jpg    1x,
              ./img/desktop-max-colection5@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka5.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka5@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka5.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka5@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka5.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka5@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka5.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">Mountain men's shirt</p>
        <p class="collection-item-price">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="colection-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/desktop-max-colection6.jpg    1x,
              ./img/desktop-max-colection6@2x.jpg 2x
            "
            type="image/jpg"
            width="400"
            height="430" />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/compuctor-our-collection-vyshyvanka6.jpg    1x,
              ./img/compuctor-our-collection-vyshyvanka6@2x.jpg 2x
            "
            type="image/jpg"
            width="346"
            height="430" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/planshet-our-collection-vyshyvanka6.jpg    1x,
              ./img/planshet-our-collection-vyshyvanka6@2x.jpg 2x
            "
            type="image/jpg"
            width="342"
            height="430" />
          <img
            class="collection-image"
            srcset="
              ./img/mobile-our-collection-vyshyvanka6.jpg    1x,
              ./img/mobile-our-collection-vyshyvanka6@2x.jpg 2x
            "
            src="./img/mobile-our-collection-vyshyvanka6.jpg"
            alt="traditional blouse"
            width="335"
            height="430"
        /></picture>
        <p class="collection-item-description">Men's shirt Yasen</p>
        <p class="collection-item-price">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
