.collection-section {
  background-color: #1c2225;
}
.collection-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.34;
  letter-spacing: -0.03em;
  min-width: 198px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.collection-item-description {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.collection-item-price {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}
